<form action="/modifier-etudiant/<%= etudiant.id %>" method="POST">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="mat" class="form-label">Matricule</label>
            <input type="text" class="form-control" id="mat" name="mat" value="<%= etudiant.mat %>" required>
          </div>
          <div class="col-md-6">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" value="<%= etudiant.nom %>" required>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="prenom" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="prenom" name="prenom" value="<%= etudiant.prenom %>" required>
          </div>
          <div class="col-md-6">
            <label for="date_naissance" class="form-label">Date de naissance</label>
            <input type="date" class="form-control" id="date_naissance" name="date_naissance" value="<%= etudiant.date_naissance.toISOString().split('T')[0] %>" required>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="classe" class="form-label">Classe</label>
            <input type="text" class="form-control" id="classe" name="classe" value="<%= etudiant.classe %>">
          </div>
          <div class="col-md-6">
            <label for="filiere" class="form-label">Filière</label>
            <input type="text" class="form-control" id="filiere" name="filiere" value="<%= etudiant.filiere %>">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="universite" class="form-label">Université</label>
            <input type="text" class="form-control" id="universite" name="universite" value="<%= etudiant.universite %>">
          </div>
          <div class="col-md-6">
            <label for="adresse" class="form-label">Adresse</label>
            <input type="text" class="form-control" id="adresse" name="adresse" value="<%= etudiant.adresse %>">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="sexe" class="form-label">Sexe</label>
            <select class="form-select" id="sexe" name="sexe" required>
              <option value="">-- Sélectionner --</option>
              <option value="Masculin" <%= etudiant.sexe === 'Masculin' ? 'selected' : '' %>>Masculin</option>
              <option value="Féminin" <%= etudiant.sexe === 'Féminin' ? 'selected' : '' %>>Féminin</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="nationalite" class="form-label">Nationalité</label>
            <input type="text" class="form-control" id="nationalite" name="nationalite" value="<%= etudiant.nationalite %>">
          </div>
        </div>

        <div class="text-end">
          <a href="/" class="btn btn-secondary ms-2">Annuler</a>
          <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>
</form>
    
