<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Liste des étudiants</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
  <%- include('./navbar') %>
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <h3>Liste des étudiants</h3>
  </div>
  <div>
    <a href="#" class="btn btn-primary btn-sm py-2 px-3" data-bs-toggle="modal" data-bs-target="#confirmAddModal">
      Ajouter etudiant
    </a>  
  </div>
</div>

    <% if (etudiants.length === 0) { %>
      <div class="alert alert-info">Aucun étudiant enregistré.</div>
    <% } else { %>
      <div class="table-responsive">
        <table class="table table-striped table-bordered align-middle">
          <thead class="table-dark text-center ">
            <tr>
              <th>Matricule</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Date de Naissance</th>
              <th>Classe</th>
              <th>Filière</th>
              <th>Université</th>
              <th>Adresse</th>
              <th>Sexe</th>
              <th>Nationalité</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% etudiants.forEach((etudiant, index) => { %>
              <tr>
                <td><%= etudiant.mat %></td>
                <td><%= etudiant.nom %></td>
                <td><%= etudiant.prenom %></td>
                <td><%= etudiant.date_naissance.toISOString().split('T')[0] %></td>
                <td><%= etudiant.classe %></td>
                <td><%= etudiant.filiere %></td>
                <td><%= etudiant.universite %></td>
                <td><%= etudiant.adresse %></td>
                <td><%= etudiant.sexe %></td>
                <td><%= etudiant.nationalite %></td>
                <td class="text-center">
                  <div class="dropdown">
                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenu<%= etudiant.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu<%= etudiant.id %>">
                      <li>
                        <a class="dropdown-item text-warning" href="#" data-bs-toggle="modal" data-bs-target="#confirmEditModal<%= etudiant.id %>">
                          <i class="bi bi-pencil me-2"></i>Modifier
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item text-danger" href="#" onclick="openDeleteModal('<%= etudiant.id %>')">
                          <i class="bi bi-trash me-2"></i>Supprimer
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    <% } %>
  </div>

<!-- Modal pour cet étudiant -->
  <div class="modal fade" id="confirmAddModal" tabindex="-1" aria-labelledby="confirmAddModalLabel aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content shadow">
        <div class="modal-header bg-primary text-dark">
          <h5 class="modal-title" id="confirmEditModalLabel">Ajouter etudiant</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <%- include('./add-etudiant') %>
        </div>
      </div>
    </div>
  </div>

  <% etudiants.forEach(etudiant => { %>

  <!-- Modal pour cet étudiant -->
  <div class="modal fade" id="confirmEditModal<%= etudiant.id %>" tabindex="-1" aria-labelledby="confirmEditModalLabel<%= etudiant.id %>" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content shadow">
        <div class="modal-header bg-primary text-dark">
          <h5 class="modal-title" id="confirmEditModalLabel<%= etudiant.id %>">Modifier etudiant</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <%- include('./edit-etudiant', { etudiant: etudiant }) %>
        </div>
      </div>
    </div>
  </div>
  
<% }) %>


<% etudiants.forEach(etudiant => { %>

  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow">
      <div class="modal-header bg-primary text-white mb-2">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body mb-4">
        Voulez-vous vraiment supprimer cet étudiant ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <a id="confirmDeleteBtn" href="#" class="btn btn-danger">Supprimer</a>
      </div>
    </div>
  </div>
</div>

<% }) %>

<%- include('./footer') %>

<script>
  function openDeleteModal(etudiantId) {
    const deleteUrl = `/supprimer-etudiant/${etudiantId}`;
    document.getElementById('confirmDeleteBtn').setAttribute('href', deleteUrl);
    const deleteModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
    deleteModal.show();
  }

  function openEditModal(editUrl) {
    const editBtn = document.getElementById('confirmEditBtn');
    editBtn.href = editUrl;
    const editModal = new bootstrap.Modal(document.getElementById('confirmEditModal'));
    editModal.show();
  }

  function openAddModal(addtUrl) {
    const addBtn = document.getElementById('confirmEditBtn');
    editBtn.href = addUrl;
    const editModal = new bootstrap.Modal(document.getElementById('confirmAddModal'));
    editModal.show();
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
